{% import "macros/forms.html.twig" as forms %}
{% import "macros/a.html.twig" as a %}
<div class="list-group">
  {% for client in clients %}
    <div class="list-group-item" href="{{ path('client_show', { 'id': client.id }) }}">
      <span class="title">{{ client.name }}</span>
      <div class="list-group-item-actions">
        <a href="{{ path('client_show', { 'id': client.id }) }}" 
           role="button" class="hidden-print list-action">
          <span class="glyphicon glyphicon-open"></span></a>
        <a href="{{ path('client_edit', { 'id': client.id }) }}" 
           role="button" class="hidden-print list-action edit-link">
          <span class="glyphicon glyphicon-pencil"></span></a>
      </div>
    </div>
  {% endfor %}
</div>
