{% extends 'base.html.twig' %}
{% import "macros/a.html.twig" as a %}
{% block floatingActions %}{{ a.add('proposal_details_new', {'proposal':proposal.id}) }}{% endblock %}
{% block panelBack %}{{ a.back('proposal_show', {'id': proposal.id}) }}{% endblock %}
{% block panelTitle %}Proposal Details index{% endblock %}
{% block panelBody %}
    <h1>ProposalDetails index</h1>

    {{ include('proposal_details/_list.html.twig') }}

{% endblock %}
