{% extends 'base.html.twig' %}
{% import "macros/forms.html.twig" as forms %}
{% import "macros/a.html.twig" as a %}
{% block panelWrapperClass %}{% endblock %}
{% block panelTitle %}New Feature{% endblock %}
{% block panelBack %}{{ a.back('feature_index') }}{% endblock %}
{% block panelBody %}
{#    {{ forms.panel(form) }}#}
      <div class="card-body">
{{ include('feature/_form.html.twig') }}
      </div>
{% endblock %}


