<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="/css/bootstrap.min.css"/>
            <!-- Optional theme -->
            <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
            <!-- Custom Styling -->
            <link rel="stylesheet" href="/css/custom.css"/>

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            {% block nav %}
                <nav class="navbar navbar-default"></nav>
                {% endblock %}
            <div class="container">
                {% block container %}
                {% endblock %}
            </div>
        {% endblock %}
        {% block javascripts %}
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="/js/jquery.min.js"></script>
            <!-- Latest compiled and minified JavaScript -->
            <script src="/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
