{% extends 'base.html.twig' %}

{% block container %}
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">UnListed</div>
                {% include 'tasks/tasks_list.html.twig' %}
            </div>
            {% for taskList in taskLists %}
                {% set tasks = taskList.tasks %}
                <div class="panel panel-primary">
                    <div class="panel-heading">{{ taskList.name }}</div>
                    {% include 'tasks/tasks_list.html.twig' %}
                </div>
            {% endfor %}
        </div>
        <div class="col-sm-4">
            </style>
            <div class="panel panel-transparent">
                <div class="panel-heading">Days</div>
                {% include 'days/days_list.html.twig' %}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Balance</div>
                {% include 'accounts/accounts_list.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
