{% extends 'base.html.twig' %}
{% import "macros/forms.html.twig" as forms %}
{% import "macros/a.html.twig" as a %}
{% block content %}
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <ul class="list-group">
          <li class="list-group-item"><a href="{{ path('dashboardtasklists_index') }}">Dashboard TaskLists</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-9">
      {% include 'flash.html.twig' %}

      {% block panel %}
        <div class="panel panel-{% block panelClass %}default{% endblock %}">
          {% block panelHeading %}
            <div class="panel-heading clearfix">
              {% block panelBack %}
                <a href="{{ path('dashboard') }}" 
                   class="btn btn-default btn-sm">
                  Dashboard
                </a>
              {% endblock %}
              <span class="panel-title">{% block panelTitle %}{% endblock %}</span>
              <small class="panel-title-small">{% block panelTitleSmall %}{% endblock %}</small>
              <span class="panel-title-labels">{% block panelTitleLabels %}{% endblock %}</span>
              <div class="pull-right">{% block panelHeadingRight %}{% endblock %}</div>
            </div>
          {% endblock %}
          {% block panelBody %} {% endblock %}
        </div>
      {% endblock %}
    </div>
  </div>
{% endblock %}
