{% import "macros/a.html.twig" as a %}

    {% for section in sections %}
        <section>
            <h2>{{ section.title }}</h2>
            {{ section.body|raw }}

            <hr/>
        </section>
        {# {{ a.show('proposal_details_show', {'proposal':proposal.id, 'id': section.id}) }} #}
        {{ a.edit('proposal_details_edit', {'proposal':proposal.id, 'id': section.id}) }}
    {% endfor %}