{% extends 'base.html.twig' %}
{% import "macros/forms.html.twig" as forms %}
{% import "macros/a.html.twig" as a %}
{% block panelTitle %}New Proposal{% endblock %}
{% block panelBack %}{{ a.back('proposal_index') }}{% endblock %}
{% block panelBody %}
    {{ forms.panel(form) }}

    {# {{ include('proposal/_form.html.twig') }} #}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        let $collectionHolder;

        // setup an "add a tag" link
        const $addDetailsButton = $('<button type="button" class="add_tag_link">Add details</button>');
        const $newLinkDiv = $('<div></div>').append($addDetailsButton);

        jQuery(document).ready(function () {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('#proposal_details');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkDiv);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find('input').length);

            $addDetailsButton.on('click', function () {
                // add a new tag form (see next code block)
                addDetailsForm($collectionHolder, $newLinkDiv);
            });
        });

        function addDetailsForm($collectionHolder, $newLinkDiv) {
            // Get the data-prototype explained earlier
            const prototype = $collectionHolder.data('prototype');

            // get the new index
            const index = $collectionHolder.data('index');

            let newForm = prototype;
            // You need this only if you didn't set 'label' => false in your tags field in TaskType
            // Replace '__name__label__' in the prototype's HTML to
            // instead be a number based on how many items we have
            // newForm = newForm.replace(/__name__label__/g, index);

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            newForm = newForm.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            const $newFormDiv = $('<div></div>').append(newForm);
            $newLinkDiv.before($newFormDiv);
        }
    </script>
{% endblock %}


