{% extends 'base.html.twig' %}
{% import "macros/a.html.twig" as a %}
{% block floatingActions %}{{ a.add('routine_log_new') }}{% endblock %}
{% block title %}Routines{% endblock %}
{% block content %}
    <div class="container">
        <h2>Routine Logs</h2>
        {% include 'routine/logs/_list.html.twig' %}
    </div>
{% endblock %}
