{% extends "modal.html.twig" %}
{% import "macros/tasks.html.twig" as t %}
{% block modal_header %}
  <h3>{{ task.task }}</h3>
{% endblock %}
{% block modal_body %}
  {{ t.ul({0: task}) }}
{% endblock %}
{% block modal_footer %}
{% endblock %}
