{% extends "modal.html.twig" %}
{% import "AppBundle:tasks:tasks_macros.html.twig" as tasks_view %}
{% block modal_header %}
  <h3>{{ task.task }}</h3>
{% endblock %}
{% block modal_body %}
  {{ tasks_view.ul({0: task}) }}
{% endblock %}
{% block modal_footer %}
{% endblock %}
