{% extends 'base.html.twig' %}
{% import "macros/forms.html.twig" as forms %}
{% import "macros/a.html.twig" as a %}
{% import "macros/tasks.html.twig" as t %}

{% block floatingActions %}
  {{ a.add('tasks_new') }}
{% endblock %}
{% block content %}
  {{ a.back('tasks_index') }}
  <div class="container">
    <div class="text-right">
      <span class="btn btn-danger mb-4">
        {{ forms.delete(delete_form) }}
      </span>
    </div>
    {{ t.show(task) }}
  </div><!-- container -->
{% endblock %}