{% extends "::base.html.twig" %}

{% block title %}Accounting{% endblock %}

{% block content %}
  <div class="container">
    {{ form_start(accounting_filter_form) }}
    {{ form_widget(accounting_filter_form) }}
    <div class="float-right">
      <a href="{{ path('accounting_index') }}" class="btn btn-link">Reset</a>
      <button type="submit" value="Filter" class="btn btn-secondary btn-sm">Search</button>
    </div>
    {{ form_end(accounting_filter_form) }}
  </div>
{% endblock %}
