{% extends 'base.html.twig' %}

{% block container %}
    <div class="clearfix">
        <div class="pull-right">
            <a href="{{ path('tasks_new') }}" class="floating-action bg-primary"><span class="glyphicon glyphicon-plus"></span></a>
        </div>
    </div>
    <hr/>
    <div class="panel panel-primary">
        <div class="panel-heading">Tasks</div>
        {% include 'tasks/tasks_list.html.twig' %}
    </div>
{% endblock %}
