{% extends 'base.html.twig' %}

{% block container %}
    <div class="clearfix">
        <div class="pull-right">
            <a href="{{ path('tasks_new') }}" class="floating-action"><span class="glyphicon glyphicon-plus"></span></a>
        </div>
    </div>
    <hr/>
    <div class="panel panel-primary">
        <div class="panel-heading">Tasks</div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Completed</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>{{ task.task }}</td>
                        <td>{% if task.completed %}Yes{% else %}No{% endif %}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('tasks_show', { 'id': task.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('tasks_edit', { 'id': task.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
