{% extends 'base.html.twig' %}
{% block floatingActions %}
    <a href="{{ path('tasks_new') }}" class="bg-primary"><span class="glyphicon glyphicon-plus"></span></a>

{% endblock %}
{% block panelTitle %}Tasks{% endblock %}
{% block panelBody %}
    {% include 'tasks/tasks.html.twig' %}
{% endblock %}

