{% extends 'base.html.twig' %}

{% block panelTitle %}New Task{% endblock %}
{% block panelBack %}<a href="{{ path('tasks_index') }}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-arrow-left"></span></a>{% endblock %}

{% block panelBody %}
    {{ forms.panel(task_form) }}
{% endblock %}
