{% import "macros/forms.html.twig" as forms %}
{% import "macros/a.html.twig" as a %}
<h1>Automation</h1>
<p>The purpose of this module is automate tasks</p>
<div class="row">
<div class="col-md-6">
<h2>Pros</h2>
<div class="list-group">
<div class="list-group-item">
<h3 class="list-group-item-heading">Time saving</h3>
<div class="list-group-item-text">Saving my self from redundant tasks</div>
</div>
<div class="list-group-item">
<h3 class="list-group-item-heading">Passive income</h3>
<div class="list-group-item-text">By automating some tasks / processes, then I'm practically generating money</div>
</div>
<div class="list-group-item">
<h3 class="list-group-item-heading">Entertainment</h3>
<div class="list-group-item-text">I will enjoy fucking building it</div>
</div>
</div>
<a class="btn btn-success pull-right" href="{{ path('focus_tasklist', {name:'myApp'})}}"> Concur the world </a></div>
<div class="col-md-6">
<h2>Cons</h2>
<div class="list-group">
<div class="list-group-item">
<h3 class="list-group-item-heading">Time consuming</h3>
<div class="list-group-item-text">I will dwell on irrelevant tasks and lose time with no deliverable outcome</div>
</div>
<div class="list-group-item">
<h3 class="list-group-item-heading">Time contraint</h3>
<div class="list-group-item-text">I'm currently behind on a lot of tasks</div>
</div>
<div class="list-group-item">
<h3 class="list-group-item-heading">Depression</h3>
<div class="list-group-item-text">I will get depressed when nothing is done</div>
</div>
</div>
<a class="btn btn-danger pull-right" href="{{ path('focus') }}"> Concur the world </a></div>
</div>