{% extends 'base.html.twig' %}

{% block floatingActions %}{{ a.add('days_new') }}{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-4 col-md-push-4">
      {% include 'days/days_list.html.twig' %}
    </div>
  </div>
{% endblock %}
