{% extends 'base.html.twig' %}
{% block panelBack %}
  <a class="btn btn-default btn-sm" href="{{ path('days_index') }}">
    <span class="glyphicon glyphicon-arrow-left"></span></a>

{% endblock %}
{% block panelTitle %}New Day Card{% endblock %}
{% block panelBody %}
  {{ forms.panel(day_form) }}
{% endblock %}