{% import "macros/a.html.twig" as a %}
<div class="panel-group days-list">
  {% set status = ['danger', 'warning', 'info', 'primary'] %}
  {% for day in days %}
    {% include 'AppBundle:days:day_card.html.twig' with {'day': day} %}
  {% endfor %}
</div>