{% extends 'base.html.twig' %}
{% import "macros/a.html.twig" as a %}

{% block panelTitle %}New Planner{% endblock %}
{% block panelBack %} {{ a.back('planner_index') }} {% endblock %}

{% block panelBody %}
    <div class="card-body">
        {{ include('planner/_form.html.twig') }}
    </div>
{% endblock %}
