{% extends 'base.html.twig' %}
{% block panelBack %}
  <a href="{{ path('notes_index') }}" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-arrow-left"></span></a>

{% endblock %}
{% block panelTitle %}New note{% endblock %}
{% block panelBody %}
  {{ forms.panel(notes_form) }}
{% endblock %}
