.navbar{padding: 0.5rem;}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{color: #fff;background-color: #375a7f;}
/* TODO: Fix this is not correct */
/* .list-group{overflow: auto;} */
.popover-content{overflow: auto; word-wrap: break-word;}
.floating-action{position: fixed;bottom: 50px;right: 50px;z-index: 100;}
.floating-action .dropdown-menu{background: none; border: none;box-shadow: none;}
.floating-action .dropdown-menu > li{margin: 5px 0;}
.floating-action .dropdown-menu > li > a{
  color: white;
  border-radius: 50px;
  display: table-cell;
  height: 50px;
  width: 50px;
  vertical-align: middle;
  text-align: center;
  padding: 0px;
}
.floating-action a{
  height: 36px;
  width: 55px;
  text-align: center;
  box-shadow: 0px 0px 5px #222;
  line-height: 28px;
  font-size: 100%;
}
.floating-action a:hover{box-shadow: 0px 0px 15px #222;}

.bg-embed{background-color: #222222;color: #303030 !important;}
.bg-embed:hover{background-color: #303030;color: #222222 !important;}

.delete-form{display:inline-block;}
.card-title-small:before, .card-title-labels:before{content: ""; margin: 0 5px;}
.card-transparent{border-color:#464545; margin-bottom: 0px;}
.card-transparent>.card-group{margin-bottom: 0px;}
.card-transparent>.card-heading{color:#ffffff;background-color:#303030;border-color:#464545}
.card-transparent>.card-heading+.card-collapse>.card-body{border-top-color:#464545}
.card-transparent>.card-heading .badge{color:#303030;background-color:#ffffff}
.card-transparent>.card-footer+.card-collapse>.card-body{border-bottom-color:#464545}
.card-transparent>.card-heading{background-color:#464545}

.progress{height: 20px;margin: 10px 5px;}
.progress-bars .progress:first-child{margin-top: 0px;}
.progress .progress-bar{font-size: 13px;}
.label-muted{background: #e8e8e8;color: #999999;font-weight: normal;}

.completed{color: #777}
.completed, .completed *{text-decoration:line-through;background-image:none;}

/* Changes button for collapsed cards */

.text-bold{font-weight: bold;}
.accordion .card-body{padding: 0.25rem;}
.input-group-addon{text-align: center; padding: 6px;}
.chosen-container-single .chosen-single span{color: black;}

.border-transparent{border-color: transparent;}

select{max-width: 100%;}


/** Print **/
@media print {
  body {
    margin: 0;
    color: #000;
    background-color: #fff;
  }
  .table{
    color: #000;
    background-color: #fff;
  }
}

/* Bottom bar */
#bottom-bar{position: fixed; bottom: 0px; right: 0px; z-index: 100; padding:0px; font-size: 100%;}
#bottom-bar .nav{padding: 0px;}
#bottom-bar-btn{background: #333; padding: 4px 10px;position: relative; float: right;}
#bottom-bar .nav-link {padding: 5px;}
#bottom-bar .btn{border-radius: 0px;}
#bottom-bar .dropdown-toggle:after{display: none;}

.costOfLife th,
.costOfLife td{padding: 0.3rem;}
.accounts th,
.accounts td{padding: 0.3rem 0;}

label.task{max-width: 65vw; overflow: hidden;}
@media (min-width: 768px) { 
  label.task{max-width: 35vw;}
}
label.checkbox-inline {margin-right: 1%;margin-left: 1%;}
.card-info{display: inline-block;}
.card-tools{float: right;}
.btn-sm{line-height: 1;}

.widget-flat {
  position: relative;
  overflow: hidden;
}

.widget-icon {
  color: #333;
  font-size: 20px;
  background-color: rgba(255,255,255,.25);
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 3px;
  display: inline-block;
}
.fa-egp{
  font-size: 100%;
  font-family: inherit;
}
.fa-egp:before {
  content: "EGP";
}
/* Switch Box Specific Styles Start */
.switch_box{
}

.switch_box input[type="checkbox"]{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 3.5em;
  height: 1.5em;
  background: #ddd;
  border-radius: 3em;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin: 0 0.5em;
}

.switch_box input[type="checkbox"]:checked{
  background: #0ebeff;
}

.switch_box input[type="checkbox"]:after{
  position: absolute;
  content: "";
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
  box-shadow: 0 0 .25em rgba(0,0,0,.3);
  -webkit-transform: scale(.7);
  transform: scale(.7);
  left: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.switch_box input[type="checkbox"]:checked:after{
  left: calc(100% - 1.5em);
}

/* Switch box Specific Style End */

.card-deck .card {
  box-shadow: 2px 2px 0px #222;
}