.floating-action{position: fixed;bottom: 50px;right: 50px;z-index: 1;}
.floating-action .dropdown-menu{background: none; border: none;box-shadow: none;}
.floating-action .dropdown-menu > li{margin: 5px 0;}
.floating-action .dropdown-menu > li > a{
    color: white;
    border-radius: 50px;
    display: table-cell;
    height: 50px;
    width: 50px;
    vertical-align: middle;
    text-align: center;
    padding: 0px;
}
.floating-action a{
    color: white;
    border-radius: 50px;
    display: table-cell;
    height: 50px;
    width: 50px;
    vertical-align: middle;
    text-align: center;
}
.bg-embed{background-color: #222222;color: #303030 !important;}
.bg-embed:hover{background-color: #303030;color: #222222 !important;}
.edit-link{display: none;}
tr:hover .edit-link{display: inline;}
li:hover .edit-link{display: inline;}
.completed{color: #777}
.completed .days, .completed .days-line{text-decoration: line-through;}
.days-table tr:last-child td:first-child {border-top: 1px solid #222222;}
.days-table tr:last-child td:first-child sup{border-bottom: 1px dotted #ccc;}

.panel-transparent{border-color:#464545; margin-bottom: 0px;}
.panel-transparent>.panel-group{margin-bottom: 0px;}
.panel-transparent>.panel-heading{color:#ffffff;background-color:#303030;border-color:#464545}
.panel-transparent>.panel-heading+.panel-collapse>.panel-body{border-top-color:#464545}
.panel-transparent>.panel-heading .badge{color:#303030;background-color:#ffffff}
.panel-transparent>.panel-footer+.panel-collapse>.panel-body{border-bottom-color:#464545}
.panel-transparent>.panel-heading{background-color:#464545}
.task-list input[type="checkbox"] {margin:0;}
.task-list li{padding: 5px 15px;white-space: nowrap;}
.task-list li .task{overflow: hidden;max-width: 60%;}
.edit-fixed-link{position: absolute;right: 5px;}
.ui-state-highlight { height: 1.5em; line-height: 1.2em; border:1px solid #dad55e;background:#f39c12;;color:#777620}
.completed, .completed *{text-decoration:line-through;opacity:.35;filter:Alpha(Opacity=35);background-image:none;}
a.navbar-brand{background-color: #222222;}
.progress{height: 40px;margin: 0 5px 21px 5px;}
.progress .progress-bar{line-height: 40px;font-size: 14px;}
.label-muted{background: #e8e8e8;color: #999999;font-weight: normal;}

/** Notes **/
body.notes {background: #e8e8e8}
.notes-container{position: relative; margin: 0 auto;}
.note-container{
    margin: 16px;
    display: block;
    position: absolute;
    transition-property: opacity, transform;
    transition-duration: .218s;
}
.note{
    box-sizing: border-box;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    overflow: hidden;
    position: relative;
    border-radius: 2px;
    transition-duration: .218s;
    transition-property: background, opacity, box-shadow, transform;
    transition-timing-function: ease-in;
    background: #ffffff;
    color: #222222;
}
.note:hover{box-shadow: 0 2px 15px rgba(0, 0, 0, 0.30);}
.note p{margin: 15px 10px;}
.note .btn-group{visibility:hidden;}
.note:hover .btn-group{visibility:visible;}
.note .label{border-radius: 0.25em 0em 0em 0.25em;}
