.floating-action{
    /*background: #337ab7 none repeat scroll 0 0;*/
    color: white;
    border-radius: 50px;
    display: table-cell;
    height: 50px;
    width: 50px;
    vertical-align: middle;
    text-align: center;
    /*box-shadow: 1px 3px 2px #ccc;*/
}
.floating-action:hover{
    background: #23527c none repeat scroll 0 0;
    color: white;
}
small.edit-link{display: none;position: absolute;}
tr:hover small.edit-link{display: inline;}
.completed{color: #777}
.completed .days, .completed .days-line{text-decoration: line-through;}
.days-table tr:last-child td:first-child {border-top: 1px solid #222222;}
.days-table tr:last-child td:first-child sup{border-bottom: 1px dotted #ccc;}