/**
  * The following content was designed & implemented under AlexSeif.com
 **/
#planner {
    width: 100%;
    height: calc(100vh - calc(70px + 6rem));
    display: flex;
}

#planner #elements {
    display: none;
}

#planner #canvas {
    width: 80%;
    height: 100%;
    border: 1px solid #0bcb9a;
    overflow-x: auto;
    overflow-y: auto;
}

#planner #tools {
    width: 20%;
    height: 100%;
    border: 1px solid #0ebeff;
}

#planner #canvas .item {
    border: 1px solid #fff;
    padding: 12px;
    display: inline-block;
    min-height: 150px;
    min-width: 200px;
    background-color: rgba(0, 0, 0, 0.6);
}

#planner #canvas .item .title {
    font-weight: bold;
}

.editing {
    border: 1px solid yellow;
}

.connection{
    color: #fff;
}