{% extends 'base.html.twig' %}

{% block title %}Elements{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            {{ include('AppBundle:Dashboard:_countdown-timer.html.twig') }}
            <hr/>
        </div>
        <div class="col-12">
            {{ include('AppBundle:Dashboard:_digital-clock.html.twig') }}
            <hr/>
        </div>
        <div class="col-12">
            {{ include('AppBundle:Dashboard:_js-clock.html.twig') }}
            <hr/>
        </div>
        <div class="col-12">
{#            {{ include('AppBundle:Dashboard:_digital-clock-js.html.twig') }}#}
        </div>
    </div>
{% endblock %}