{% extends 'base.html.twig' %}
{% import "macros/a.html.twig" as a %}
{% block panelTitle %}Work DAys{% endblock %}
{% block panelBody %}
  <a href="{{ path('workdays_show_month') }}">Month</a>
  <a href="{{ path('workdays_show_week') }}">Week</a>
{% endblock %}



