{% extends 'base.html.twig' %}
{% import "macros/a.html.twig" as a %}
{% block floatingActions %}{{ a.add('client_new') }}{% endblock %}
{% block title %}Clients{% endblock %}
{% block content %}
    <div class="container">
        <h2>Clients</h2>
        {% include 'client/clients_list.html.twig' %}
    </div>
{% endblock %}
