{% extends 'base.html.twig' %}
{% import "macros/a.html.twig" as a %}
{% block floatingActions %}
{% endblock %}
{% block title %}Productivity{% endblock %}
{% block panelTitle %}Productivity{% endblock %}
{% block panelBody %}
    {# https://packagist.org/packages/fullcalendar/fullcalendar #}
    <div class="card-body">
        <div>Show Completed tasks by day</div>
        <div>Display contracts and requirements</div>
        <div>Select Day</div>
    </div>
{% endblock %}