{% extends 'base.html.twig' %}
{% block panelBack %}
    <a href="{{ path('tasklists_show', {'id':taskList.id}) }}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-arrow-left"></span></a>

{% endblock %}

{% block panelTitle %}Edit Task List{% endblock %}
{% block panelTitleSmall %}{{taskList.name}}{% endblock %}

{% block panelBody %}
    {{ forms.panel(tasklist_form, false) }}
{% endblock %}

