{% extends 'base.html.twig' %}
{% block formStart %}{{ form_start(form) }}{% endblock %}
{% block panelTitle %}
    <a href="{{ path('tasklists_index') }}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-arrow-left"></span></a>
    New Task List
{% endblock %}

{% block panelBody %}
    <div class="panel-body">
        {{ form_widget(form) }}
    </div>
{% endblock %}
{% block panelFooter %}
    <div class="panel-footer">
        <input type="submit" value="Create" class="btn btn-success" />
    </div>
{% endblock %}

{% block formEnd %}{{ form_end(form) }}{% endblock %}