{% extends 'base.html.twig' %}
{% block panelBack %}
    <a href="{{ path('tasklists_index') }}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-arrow-left"></span></a>

{% endblock %}
{% block panelTitle %}New Task List{% endblock %}
{% block panelBody %}
    {{ form_start(tasklist_form) }}
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-11">
                {{ form_widget(tasklist_form) }}
            </div>
            <div class="col-sm-1">
                <button  type="submit" value="Create" class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span></button>
            </div>
        </div>
    </div>
    {{ form_end(tasklist_form) }}
{% endblock %}
