{% extends 'base.html.twig' %}
{% block panelBack %}
  <a href="{{ path('tasklists_index') }}" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-arrow-left"></span></a>

{% endblock %}
{% block panelTitle %}New Task List{% endblock %}
{% block panelBody %}
  {{ forms.panel(tasklist_form) }}
{% endblock %}
