<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg"> {% block form_start %}{% endblock %}
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalCenterTitle"> {% block modal_header %}{% endblock %}
					</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<!-- .modal-header -->
				<div class="modal-body"> {% block modal_body %}{% endblock %}
					</div>
					<!-- .modal-body -->
					{% block modal_footer %}
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						</div>
						<!-- .modal-footer -->
					{% endblock %}
				</div>
				<!-- .modal-content -->
				{% block form_end %}{% endblock %}
			</div>
			<!-- .modal-content -->
		</div>
		<!-- .modal-dialog -->
	</div>
	<!-- .modal -->
