{% extends 'base.html.twig' %}

{% block container %}
    <div class="row">
        <div style="display: inline;">
            <a href="{{ path('accounts_new') }}" class="floating-action bg-primary" role="button"><span class="glyphicon glyphicon-plus"></span></a>
        </div>
        <div class="col-sm-11">
            {% include 'accounts/accounts_list.html.twig' %}
        </div>
    </div>
{% endblock %}
