{% extends 'base.html.twig' %}

{% block floatingActions %}
  <a href="{{ path('accounts_new') }}" class="bg-primary" role="button"><span class="glyphicon glyphicon-plus"></span></a>
  {% endblock %}

{% block panelTitle %}Accounts{% endblock %}
{% block panelBody %}
  {% set hideEmpty = false %}
  {% include 'accounts/accounts_list.html.twig' %}
{% endblock %}
