{% extends 'base.html.twig' %}
{% import "macros/a.html.twig" as a %}
{% block floatingActions %}{{ a.add('accounts_new') }}{% endblock %}
{% block panelTitle %}Accounts{% endblock %}
{% block content %}
  <div class="container">
    <h2>Accounts</h2>
    {% set hideEmpty = false %}
    {% include 'AppBundle:accounts:accounts_list.html.twig' %}
  </div>
{% endblock %}
