{% extends 'base.html.twig' %}

{% block title %}New HabitLog{% endblock %}

{% block body %}
    <h1>Create new HabitLog</h1>

    {{ include('habit_log/_form.html.twig') }}

    <a href="{{ path('habit_log_index') }}">back to list</a>
{% endblock %}
