<!-- https://codepen.io/AllThingsSmitty/pen/JJavZN -->
<script src='/js/countdown-timer.js'></script>
<style>
    /* general styling */
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    html, body {
        height: 100%;
        margin: 0;
    }

    .countdown-widget {
        align-items: center;
        background-color: #ffd54f;
        display: flex;
        font-family: -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen-Sans,
        Ubuntu,
        Cantarell,
        "Helvetica Neue",
        sans-serif;
    }

    .countdown-widget .container {
        color: #333;
        margin: 0 auto;
        text-align: center;
    }

    .countdown-widget h1 {
        font-weight: normal;
        letter-spacing: .125rem;
        text-transform: uppercase;
    }

    .countdown-widget li {
        display: inline-block;
        font-size: 1.5em;
        list-style-type: none;
        padding: 1em;
        text-transform: uppercase;
    }

    .countdown-widget li span {
        display: block;
        font-size: 4.5rem;
    }

    .countdown-widget .message {
        font-size: 4rem;
    }

    .countdown-widget #content {
        display: none;
        padding: 1rem;
    }

    .countdown-widget .emoji {
        padding: 0 .25rem;
    }

    @media all and (max-width: 768px) {
        .countdown-widget h1 {
            font-size: 1.5rem;
        }

        .countdown-widget li {
            font-size: 1.125rem;
            padding: .75rem;
        }

        .countdown-widget li span {
            font-size: 3.375rem;
        }
    }
</style>
<div class="countdown-widget">
    <div class="container">
        <h1 id="headline">Countdown to my birthday:</h1>
        <div id="countdown">
            <ul>
                <li><span id="days"></span>days</li>
                <li><span id="hours"></span>Hours</li>
                <li><span id="minutes"></span>Minutes</li>
                <li><span id="seconds"></span>Seconds</li>
            </ul>
        </div>
        <div class="message">
            <div id="content">
                <span class="emoji">🥳</span>
                <span class="emoji">🎉</span>
                <span class="emoji">🎂</span>
            </div>
        </div>
    </div>
</div>