{% extends 'base.html.twig' %}

{% block title %}New ScenarioDetails{% endblock %}

{% block content %}
    <h1>Create new ScenarioDetails</h1>

    {{ include('scenario_details/_form.html.twig') }}

    <a href="{{ path('scenario_show', {'id': scenario}) }}">back to list</a>
{% endblock %}
