{% extends "::base.html.twig" %}
{% import "AppBundle:tasks:tasks_macros.html.twig" as tasks_view %}
{% import "macros/a.html.twig" as a %}

{% block title %}AppBundle:Planner:index{% endblock %}
{% block floatingActions %}{{ a.add('planner_list') }}{% endblock %}

{% block content %}
  <style>
    .planner-tasks{min-height: 50px;}
    .planner-tasks .list-group-item{min-height: 50px;}
  </style>
  <div class="container">
    {% for key,planner in planners %}
      {{ tasks_view.ul(planner, '',false) }}
    {% endfor %}
  </div>
{% endblock %}