{% extends "::base.html.twig" %}

{% block title %}Income Reports{% endblock %}

{% block content %}
    <div id="chart_div" style="height: 83vh;"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {packages: ['corechart', 'line']});
        google.charts.setOnLoadCallback(drawTrendlines);

        function drawTrendlines() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'IssuedAt');

            {% for year, txns in income %}
            data.addColumn('number', '{{ year }}');
            {% endfor %}

            data.addRows([{% for month in 1..12 %}{% for year, txns in income %}
                {% if(loop.first) %}
                ['{{ month }}',              {% endif %}
                    {{ income[year]["%02d"|format(month)] }}
                    {% if not loop.last %}
                    ,
                    {% endif %}
                    {% endfor %}
                    {% if not loop.last %}
                ],
                {% else %}
            ]
            {% endif %}
            {% endfor %}
        ])
            ;

            var options = {
                legendTextStyle: {color: '#FFF'},
                titleTextStyle: {color: '#FFF'},
                hAxis: {title: 'Month', textStyle: {color: '#FFF'}, titleTextStyle: {color: '#FFF'}},
                vAxis: {title: 'Income', textStyle: {color: '#FFF'}, titleTextStyle: {color: '#FFF'}},
                backgroundColor: '#222',
                crosshair: {
                    color: 'pink',
                    trigger: 'both'
                }
            };

            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>
{% endblock %}