{# templates/documentation/index.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <title>Documentation</title>
</head>
<body>
    <iframe src="{{ asset('documentation/docs/index.html') }}" width="100%" height="1000px"></iframe>
</body>
</html>
