{% extends 'base.html.twig' %}
{% import "macros/a.html.twig" as a %}

{% block panelTitle %}ShoppingList index{% endblock %}
{% block floatingActions %}{{ a.add('shopping_list_new') }}{% endblock %}

{% block panelBody %}
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        {% for shopping_list in shopping_lists %}
            <tr>
                <td>
                    <a href="{{ path('shopping_list_show', { 'id' : shopping_list.id }) }}">
                        {{ shopping_list.name }}
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
